<html>
<head>
    <title>COD</title>
</head>
<body>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    $.ajax({
        type:'post',
        url:'http://localhost:4600/home/tes3',
        data:{data:'zzx'},
        dataType:'json',
        success:function (res) {
            console.log(res);
        }
    })
</script>
</body>
</html>